<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> <!--  XMLNS establece el tipo de campo en cada elemento de árbol de mensajes que crea -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Document</title>
</head>
<body>
    <h1 th:text="${title}"></h1>    <!-- Pasar lo que está en el controlador se pasa a la vista con th:text -->
    <ul>
        <li th:text="${user.name}"></li>
        <li th:text="${user.lastname}"></li>
    </ul>
</body>
</html>